<div class="engine-form">
  <%= simple_form_for @engine do |f| %>


  <div class="engine-form__heading">
    <div class="engine-form__heading__left">
      <div class="engine-form__tag">
        <%= f.input :tag_ids, as: :select, collection: Tag.order(:name), input_html: {multiple: true}, :label => "Famille" %>
      </div>
    </div>
  </div>


  <div style="margin-top:90px;">
    <%= f.input :name, :label => "Nom/Marque" %>


    <%= f.input :internal_name, :label => "Nom interne" %>

    <%= f.input :tag_ids, as: :select, collection: Tag.order(:name), input_html: {multiple: true }, :label => "Famille" %>


    <%= f.association :room, as: :select, collection: Room.where(:company_id => current_user.company_id).order(:id), :label => "Salle affectée" %>

    <%= f.input :initial_date, as: :date, html5: true, :label => "Date de mise en circulation" %>

    <%= f.input :validity_start_date, as: :date, html5: true, :label => "Dernière vérification" %>


    <%= f.input :validity_end_date, as: :date, html5: true, :label => "Prochaine vérification" %>

    <label>Commentaires maintenance</label>
    <%= f.rich_text_area :description %>

    <%= f.input :provider, :label => "Prestataire Maintenance" %>

    <label>Informations Prestataire Maintenance</label>
    <%= f.rich_text_area :provider_info %>

    <label>Fichier machine</label>
    <%= f.file_field :file %> 

    <%= f.submit "Mettre à jour", class: 'btn btn-lg btn-primary float-right' %>






    <% if engine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(engine.errors.count, "error") %> prohibited this engine from being saved:</h2>

      <ul>
        <% engine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

  
  <% end %>

</div>
