<div class="engine-form">
  <%= simple_form_for @engine do |f| %>

  <%# Heading form %>
  <div class="engine-form__section">
    <div class="engine-form__heading__left">

      <div class="engine-form__tag">
        <span>Salle</span>
        <div class="engine-form__input-inner">
          <%= f.input :tag_ids, as: :select, collection: Tag.order(:name), input_html: {multiple: true}, :label => "Famille" %>
        </div>     
      </div>

      <div class="engine-form__name engine-form__input focused">
        <div class="engine-form__input-inner">
          <%= f.input :name, :label => "Nom/Marque", :placeholder => "Nom machine" %>
        </div>
      </div>

      <div class="engine-form__internal-name engine-form__input focused">
        <span>Nom interne</span>
        <div class="engine-form__input-inner">
          <%= f.input :internal_name, :label => "Nom interne", :placeholder => "Nom interne" %>
        </div>       
      </div>

      <div class="engine-form__room engine-form__input focused">
        <span>Salle</span>
        <div class="engine-form__input-inner">
          <%= f.association :room, as: :select, collection: Room.where(:company_id => current_user.company_id).order(:id), :label => "Salle affectée" %>
        </div>
      </div>

      <div class="engine-form__qualification engine-form__input focused">
        <span>Mise en circulation</span>
        <div class="engine-form__input-inner">
          <%= f.input :initial_date, as: :date, html5: true, :label => "Date de mise en circulation" %>
        </div>
      </div>
    </div>
  </div>

  <%# Check dates %>
  <div class="engine-form__section d-flex justify-content-between">
    <div class="engine-form__section__half-col engine-form__input__date start">
      <span class="custom-label">Dernière intervention</span>
      <%= f.input :validity_start_date, as: :date, html5: true, :label => "Dernière vérification" %>
    </div>
    <div class="engine-form__section__half-col engine-form__input__date end">
      <span class="custom-label">Prochaine intervention</span>
      <%= f.input :validity_end_date, as: :date, html5: true, :label => "Prochaine vérification" %>
    </div>
  </div>


  <div style="margin-top:90px;">

    <label>Commentaires maintenance</label>
    <%= f.rich_text_area :description %>

    <%= f.input :provider, :label => "Prestataire Maintenance" %>

    <label>Informations Prestataire Maintenance</label>
    <%= f.rich_text_area :provider_info %>

    <label>Fichier machine</label>
    <%= f.file_field :file %> 

    <%= f.submit "Mettre à jour", class: 'btn btn-lg btn-primary float-right' %>






    <% if engine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(engine.errors.count, "error") %> prohibited this engine from being saved:</h2>

      <ul>
        <% engine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

  
  <% end %>

</div>
