<%= render partial: '/layouts/navigation-app' %>

<div class="mod mod-edit-engine">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1><%= @engine.name %></h1>

                <%= render 'form', engine: @engine %>

                <%= link_to 'Show', @engine %> |
                <%= link_to 'Back', engines_path %>
            </div>
        </div>
    </div>
</div>