<%= render partial: '/layouts/navigation-app' %>


<%####### Devise notices ######%>
<div class="devise-msg connect">
  <div class="devise-msg__close"><i class="fas fa-times"></i></div>
  <p id="notice"><%= notice %></p>
</div>

<%###### Start Module Index Engines #####%>
<div class="mod mod-engines-index">
  <div class="container-fluid">
    <%# Row heading %>
    <div class="row heading">
      <div class="col-md-12 p0">
        <div class="d-flex justify-content-between align-items-center">
          <h1>Parc machines <% if params[:tag] %>- <%= params[:tag] %><% end %></h1>
          <a class="mod-engines-index__add-engine d-flex align-items-center justify-content-center txt-no-decoration" href="<%= new_engine_path %>" title="Ajouter une nouvelle machine"><i class="fas fa-plus"></i></a>
        </div>      
      </div>
    </div>
    <%# Row Features %>
    <div class="row">
      <div class="col-md-12 p0">
        <div class="mod-engines-index__features">
          <%# Filters feature %>
          <div class="mod-engines-index__filters d-flex align-items-center">

            <!--Number engines-->
            <div class="mod-engines-index__length">
              <span>Total :</span>
              <span class="mod-engines-index__length-numb"><%= @engines.length() %></span>
            </div>

            <!--Tag filter-->
            <div class="mod-engines-index__filter tag">
              <span>Famille :</span>
              <span class="filter-item-select">
                <span class="filter-item-select__btn" data-select="tag"><% if params[:tag] %><%= params[:tag] %><% else %>Choisir<% end %> <i class="fas fa-chevron-down"></i></span>

                <ul class="filter-item-select__dropdown" data-select="tag">
                  <li><a class="d-block" href="/engines">Tous</a></li>
                  <% @tags.map(&:name).map.each do |t| %>
                  <li><a class="d-block" href="<%= tag_path(t) %>"><%= t %></a></li>
                  <% end %>
                </ul>
              </span>
            </div>  

            <!--Room filter-->
            <div class="mod-engines-index__filter room">
              <span>Salle :</span>
              <span class="filter-item-select">
                <span class="filter-item-select__btn" data-select="room"><% if params[:room] %><%= params[:room] %><% else %>Choisir<% end %> <i class="fas fa-chevron-down"></i></span>
                <ul class="filter-item-select__dropdown" data-select="room">
                  <li><a class="d-block" href="/engines">Tous</a></li>
                  <% @rooms.map(&:name).map.each do |t| %>
                  <li><a class="d-block" href="<%= room_path(t) %>"><%= t %></a></li>
                  <% end %>
                </ul>
              </span>
            </div>          
          </div>

        </div>
      </div>
    </div>
    <%# Row Engines List %>
    <div class="row">
      <%# Heading list %>
      <div class="col-md-12 engine-card heading">
        <div class="engine-card__inner d-flex align-items-center">
            <%# Engine name %>
            <div class="engine-card__name">
              Nom
            </div>
            <%# Engine categories %>
            <div class="engine-card__categories">
              <a>Famille</a>
            </div>
            <%# Engine Room %>
            <div class="engine-card__room">
              <span>Salle</span>
            </div>      

        </div>
      </div>
      <% @engines.each do |engine| %>
      <div class="col-md-12 engine-card">
        <div class="engine-card__inner d-flex align-items-center">
            <%# Engine name %>
            <div class="engine-card__name">
              <% if engine.name != "" %>
              <%= link_to engine.name, engine, :title => engine.name %>
              <% else %>
              <%= link_to engine.internal_name, engine, :title => engine.internal_name %>
              <% end %>
            </div>
            <%# Engine categories %>
            <div class="engine-card__categories">
              <% engine.tags.map.each do |t| %>
              <a href="<%= tag_path(t.name) %>" style="background:<%= t.tag_color %>;"><i class="fas fa-tag"></i><%= t.name %></a>
              <% end %>
            </div>
            <%# Engine Room %>
            <div class="engine-card__room">
              <i class="fas fa-map-marker"></i>
              <%# Code affichage room a ameliorer, le gerer dans le controller %>
              <span>
                <% if engine.room %>
                <%= engine.room.name %>
                <% else %>
                <span class="txt-error-color">NA</span>
                <% end %>
              </span>
            </div>
            <%# Update Engine date %>
            <div class="engine-card__update">
              <span>MAJ : </span><%= engine.updated_at.strftime('%d/%m/%y') %>
            </div>         
            <%# Engine actions %>
            <div class="engine-card__actions">
              <span class="engine-card__action-btn">
                <i class="fas fa-cog"></i>
                <div class="engine-card__action-items">
                  <%= link_to 'Voir', engine %>
                  <%= link_to 'Mettre à jour', edit_engine_path(engine) %>
                  <%= link_to 'Supprimer', engine, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </span>
            </div>
        </div>
      </div>
      <% end %>
      <div class="col-md-12">
          <%= will_paginate @engines %>
      </div>
    </div>
  </div>
</div>