<%= render partial: '/layouts/navigation-app' %>

<%###### Start Module Index Engines #####%>
<div class="mod mod-engines-index">
  <div class="container-fluid">

    <%# Row heading %>
    <div class="row heading">
      <div class="col-md-12 p0">
        <div class="d-flex justify-content-between align-items-center">
          <h1>Parc machines <% if params[:tag] %>- <%= params[:tag] %><% end %></h1>
          <%= link_to new_engine_path, class: "action-btn__add" do %>
            <%= fa_icon "plus" %>Ajouter une machine      
          <% end %>
        </div>      
      </div>
    </div>

    <%# Row Filter Features %>
    <div class="row">
      <div class="col-md-12">
        <div class="mod-engines-index__features">
          <%# Filters feature %>
          <div class="mod-engines-index__filters d-flex align-items-center">

            <%# Number engines %>
            <div class="mod-engines-index__length">
              <span class="mod-engines-index__length-numb"><%= @engines.length() %></span>
              <span>/<%= @all_engines.length() %></span>
            </div>

            <%# Name search %>
            <div class="mod-engines-index__filter name">
              <span>Nom :</span>
              <select id="select_name_engine">
                <option value="<%= engines_path %>">Sélectionner</option>
                <% @engines.each do |engine| %>
                <option value="<%= engine_path(engine.id) %>"><% if engine.name != "" %><%= engine.name %><% else %><%= engine.internal_name %><% end %></option>
                <% end %>
              </select>
            </div>

            <%# Tag filter %>
            <div class="mod-engines-index__filter tag">
              <span>Type :</span>
              <span class="filter-item-select">
                <span class="filter-item-select__btn" data-select="tag"><% if params[:tag] %><%= params[:tag] %><% else %>Choisir<% end %> <%= fa_icon "chevron-down" %></span>

                <ul class="filter-item-select__dropdown no-styles scroll-overflow" data-select="tag">
                  <li><a class="d-block" href="/engines">Tous</a></li>
                  <% @tags.map(&:name).map.each do |t| %>
                  <li><a class="d-block" href="<%= tag_path(t) %>"><%= t %></a></li>
                  <% end %>
                </ul>
              </span>
            </div>  

            <%# Room filter %>
            <div class="mod-engines-index__filter room">
              <span>Salle :</span>
              <span class="filter-item-select">
                <span class="filter-item-select__btn" data-select="room"><% if params[:room] %><%= params[:room] %><% else %>Choisir<% end %> <%= fa_icon "chevron-down" %></span>
                <ul class="filter-item-select__dropdown no-styles scroll-overflow" data-select="room">
                  <li><a class="d-block" href="/engines">Tous</a></li>
                  <% @rooms.map(&:name).map.each do |t| %>
                  <li><a class="d-block" href="<%= room_path(t) %>"><%= t %></a></li>
                  <% end %>
                </ul>
              </span>
            </div>

            <%# Reinitialize %>
            <div class="mod-engines-index__filter reinitialize">
              <%= link_to 'Supprimer les filtres', engines_path, class: "size-up-14"%>
            </div>

          </div>
        </div>
      </div>
    </div>

    <%# Row Engines List %>
    <div class="row">

      <%# Heading list %>
      <div class="col-md-12 engine-card heading">
        <div class="engine-card__inner d-flex align-items-center">
            <%# Engine name %>
            <div class="engine-card__name heading-item">
              <span class="size-up-12 fw-500 white-color">Nom</span>
            </div>
            <%# Engine categories %>
            <div class="engine-card__categories heading-item">
              <span class="size-up-12 fw-500 white-color">Type</span>
            </div>
            <%# Engine Room %>
            <div class="engine-card__room heading-item">
              <span class="size-up-12 fw-500 white-color">Salle</span>
            </div>
            <%# Engine Start Date %>
            <div class="engine-card__start-date heading-item">
              <span class="size-up-12 fw-500 white-color">Dernière vérification</span>
            </div>
            <%# Engine End Date %>
            <div class="engine-card__end-date heading-item">
              <span class="size-up-12 fw-500 white-color">Prochaine vérification</span>
            </div>      
        </div>
      </div>

      <% @engines.each do |engine| %>
      <div class="col-md-12 engine-card">
        <div class="engine-card__inner d-flex align-items-center">
            <%# Engine name %>
            <div class="engine-card__name">
              <% if engine.name != "" %>
              <%= link_to engine.name, engine, :title => engine.name, :class => "no-decoration" %>
              <% else %>
              <%= link_to engine.internal_name, engine, :title => engine.internal_name, :class => "no-decoration" %>
              <% end %>
            </div>
            <%# Engine categories %>
            <div class="engine-card__categories">
              <% engine.tags.map.each do |t| %>
              <a href="<%= tag_path(t.name) %>" style="background:<%= t.tag_color %>;"><%= fa_icon "tag" %><%= t.name %></a>
              <% end %>
            </div>
            <%# Engine Room %>
            <div class="engine-card__room">
              <%= fa_icon "map-marker" %>
              <span>
                <% if engine.room %>
                <%= engine.room.name %>
                <% else %>
                <span class="txt-error-color">NA</span>
                <% end %>
              </span>
            </div>
            <%# Engine Start Date %>
            <div class="engine-card__start-date">
              <% if engine.validity_start_date %>
              <span class="size-up-14"><%= engine.validity_start_date.strftime('%d.%m.%y') %></span>
              <% else %>
              <span class="size-up-14">n/a</span>
              <% end %>
            </div>
            <%# Engine End Date %>
            <div class="engine-card__end-date">
              <% if engine.validity_end_date %>
              <span class="size-up-14"><%= engine.validity_end_date.strftime('%d.%m.%y') %></span>
              <% else %>
              <span class="size-up-14">n/a</span>
              <% end %>
            </div>
            <%# Update Engine date %>
            <div class="engine-card__update">
              <span>MAJ : </span><%= engine.updated_at.strftime('%d.%m.%y') %>
            </div>         
            <%# Engine actions %>
            <div class="engine-card__actions">
              <%= link_to 'Voir', engine, class: "action-btn__small white" %>
              <%= link_to 'Mettre à jour', edit_engine_path(engine), class: "action-btn__small white" %>
              <%= link_to 'Supprimer', engine, method: :delete, data: { confirm: 'Are you sure?' }, class: "action-btn__small white" %>
            </div>
        </div>
      </div>
      <% end %>
    </div>
    <%# Row Pagination %>
    <div class="row mod-engines-index__pagination">
      <div class="col-md-12">
        <%= will_paginate @engines, :previous_label => '<i class="fas fa-arrow-alt-circle-left"></i>', :next_label => '<i class="fas fa-arrow-alt-circle-right"></i>' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="txt-right">
          <%= link_to new_engine_path, class: "action-btn__add" do %>
            <i class="fas fa-plus"></i>Ajouter une machine      
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>