<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Variables-------%>
<% tag_color = raw @engine.tags.map(&:tag_color).map { |t| t }.join(', ') %>
<% tag_name = raw @engine.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>

<%#------Module Show Engine-------%>
<div class="mod mod-show-engine">
  <div class="container-fluid">

    <%# Row Go Back %>
    <div class="row go-back">
      <div class="col-md-12">
        <%= link_to engines_path, class: 'action-btn__grey' do %>
        <%= fa_icon 'chevron-left' %> Retour
        <% end %>
      </div>
    </div>

    <%# Row Engine heading %>
    <div class="row">
      <div class="col-md-12">

        <%# Breadcrumbs %>
        <ul class="breadcrumbs no-styles">
          <li><a href="<%= engines_path %>">Parc machines</a></li>
          <li><span><%= fa_icon 'chevron-right' %></span></li>
          <li><span><%=@engine.has_name? %></span></li>
        </ul>

        <%# Heading engine show %>
        <div class="mod-show-engine__heading d-flex align-items-start justify-content-between">
          <div class="mod-show-engine__heading-left-col">
            <div class="d-flex align-items-center">
              <div class="mod-show-engine__heading-title">
                <h1><%=@engine.has_name? %></h1>
              </div>
              <div class="mod-show-engine__heading-tag" style="background-color: <%= tag_color %>;">
                <%= fa_icon 'tag' %><%= tag_name %>
              </div> 
            </div>
            <div class="mod-show-engine__heading-infos">
              <div class="mod-show-engine__heading-info-item"><span>Nom interne :</span> <%= @engine.internal_name %></div>
              <div class="mod-show-engine__heading-info-item"><span>Salle :</span> <%= @engine.room.name %></div>
              <% if @engine.initial_date %>
              <div class="mod-show-engine__heading-info-item"><span>Qualification initiale :</span> <%= @engine.initial_date.strftime('%d.%m.%y') %></div>
              <% end %>
            </div>
          </div>
          <div class="mod-show-engine__heading-action">
            <%= link_to edit_engine_path(@engine), class: "action-btn__add" do %>
            <%= fa_icon "edit" %>Modifier les informations     
            <% end %>
          </div>  
        </div>  

        <%# Engine Show Dates %>
        <div class="mod-show-engine__dates d-flex justify-content-between">
          <%# Start date %>
          <div class="mod-show-engine__date start border-box">
            <span>Dernière vérification</span>
            <div class="mod-show-engine__date-exerg d-flex align-items-center">
              <%= fa_icon 'calendar' %>
              <%= l @engine.validity_start_date, :format=>:default %>
            </div>
          </div>
          <%# End date %>
          <div class="mod-show-engine__date end border-box">
            <span>Prochaine vérification <em>(<%= @engine.calc_time_left %>)</em></span>
            <div class="mod-show-engine__date-exerg d-flex align-items-center">
              <%= fa_icon 'calendar' %>
              <%= l @engine.validity_end_date, :format=>:default %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# Row Engine More Infos %>
    <% if @engine.description %>
    <div class="row">
       <div class="col-md-12">
         <div class="mod-show-engine__more">
          <span>Commentaires maintenance</span>
          <div class="mod-show-engine__more-txt">
            <%= @engine.description %>
          </div>      
         </div>
       </div>
    </div>
    <% end %>

  </div>
</div>




