<%#-------Variables-------%>
<% tag_color = raw @engine.tags.map(&:tag_color).map { |t| t }.join(', ') %>
<% tag_name = raw @engine.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>

<%#------Module Show Engine-------%>
<section class="mod">

  <%# Breadcrumbs and go back btn %>
  <div class="container-fluid">
    <%# Row Go Back %>
    <div class="row go-back">
      <div class="col-md-12">
        <%= link_to engines_path, class: 'action-btn__grey' do %>
        <%= fa_icon 'chevron-left' %> Retour
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%# Breadcrumbs %>
        <ul class="breadcrumbs no-styles">
          <li><a href="<%= engines_path %>">Parc machines</a></li>
          <li><span><%= fa_icon 'chevron-right' %></span></li>
          <li><span><%=@engine.has_name? %></span></li>
        </ul>
      </div>
    </div>
  </div>


  <%# Tabs container %>
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <div class="engine-tabs tabs-elem">
            <%# Nav tabs %>
            <div class="engine-tabs__nav-container">
              <nav class="tabs-elem__nav">
                <div class="engine-tabs__tab tabs-elem__tab active" data-tab="info">
                  <%= fa_icon "info" %> Informations
                </div>
                <div class="engine-tabs__tab tabs-elem__tab" data-tab="issues">
                  <%= fa_icon "exclamation-circle" %> Incidents
                </div>
                <div class="engine-tabs__tab tabs-elem__tab" data-tab="interventions">
                  <%= fa_icon "wrench" %> Interventions
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# Tab Engine Info %>
    <div class="tabs-elem__tab-content engine-infos-tab" data-target="info">
      <div class="container-fluid">

        <%# Row Engine heading %>
        <div class="row">
          <div class="col-md-12">

            <%# Heading engine show %>
            <div class="mod-show-engine__heading d-flex align-items-start justify-content-between">
              <div class="mod-show-engine__heading-left-col">
                <div>
                  <div class="mod-show-engine__heading-tag" style="background-color: <%= tag_color %>;">
                    <%= fa_icon 'tag' %><%= tag_name %>
                  </div> 
                  <div class="mod-show-engine__heading-title">
                    <h1><%=@engine.has_name? %></h1>
                  </div>              
                </div>
                <div class="mod-show-engine__heading-infos">
                  <div class="mod-show-engine__heading-info-item"><span>Nom interne :</span> <%= @engine.internal_name %></div>
                  <div class="mod-show-engine__heading-info-item"><span>Salle :</span> <%= @engine.room.name %></div>
                  <% if @engine.initial_date %>
                  <div class="mod-show-engine__heading-info-item"><span>Qualification initiale :</span> <%= @engine.initial_date.strftime('%d.%m.%y') %></div>
                  <% end %>
                </div>
              </div>
              <div class="mod-show-engine__heading-action">
                <%= link_to edit_engine_path(@engine), class: "action-btn__add" do %>
                <%= fa_icon "edit" %>Modifier les informations     
                <% end %>
              </div>  
            </div>  
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mod-show-engine__dates mod-show-engine-section d-flex justify-content-between">
              <%# Start date %>
              <div class="mod-show-engine__date start border-box">
                <span>Dernière vérification</span>
                <div class="mod-show-engine__date-exerg d-flex align-items-center">
                  <%= fa_icon 'calendar' %>
                  <%= l @engine.validity_start_date, :format=>:default %>
                </div>
              </div>
              <%# End date %>
              <div class="mod-show-engine__date end border-box">
                <span>Prochaine vérification <em>(<%= @engine.calc_time_left %>)</em></span>
                <div class="mod-show-engine__date-exerg d-flex align-items-center">
                  <%= fa_icon 'calendar' %>
                  <%= l @engine.validity_end_date, :format=>:default %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <%# Row Engine More Infos %>
        <% if @engine.description %>
        <div class="row">
         <div class="col-md-12">
          <div class="mod-show-engine__more mod-show-engine-section">
            <span>Commentaires maintenance</span>
            <div class="mod-show-engine__more-txt">
              <%= @engine.description %>
            </div>      
          </div>
        </div>
      </div>
      <% end %>

      <hr>

      <%# Row Engine Provider %>
      <% if @engine.provider %>
      <div class="row">
        <div class="col-md-12">
          <div class="mod-show-engine__provider mod-show-engine-section">
            <span>Prestataire maintenance</span>
            <div class="mod-show-engine__more-txt">
              <span><%= @engine.provider %></span>
              <% if @engine.provider_info %>
              <%= @engine.provider_info %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="col-md-12">
          url du fichier : <%= @engine.file_url %> 
          <embed src="<%= @engine.file_url %>" width="300px" height="800px" />
        </div>
      </div>
    </div>
  </div>


  <%# Issues Tab %>
  <div class="tabs-elem__tab-content ngine-issues-tab" data-target="issues" style="display:none;">
    <div class="container-fluid">
          <%# Row issues engines %>
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="mod-show-engine__issues mod-show-engine-section">
          <h2>Incidents</h2>
        </div>
      </div>
      <div class="col-md-4 txt-right">
        <%= link_to new_issue_path, class: "action-btn__add", remote: true do %>
          <%= fa_icon "plus" %>Enregistrer un incident    
        <% end %>
      </div>
    </div>
    <div class="row">
      <%# Col Issues Progress %>
      <div class="col-md-6">
        <div class="mod-show-engine-section">
          <div class="list-issues">
            <div class="list-issues__heading unsolved"><%= fa_icon "exclamation-circle" %>En cours (<%= @progress_issues.length() %>)</div>
            <div class="list-issues__table" id="renderIssues">
              <%= render @progress_issues %>
            </div>
          </div>
        </div>

      </div>

      <%# Col Issues Resolved %>
      <div class="col-md-6">
        <div class="mod-show-engine-section">
          <div class="list-issues">
            <div class="list-issues__heading solved"><%= fa_icon "check-square" %>Résolus (<%= @resolved_issues.length() %>)</div>
            <div class="list-issues__table" id="renderResolvedIssues">
              <%= render @resolved_issues %>
            </div>
          </div>  
        </div>
      </div>
    </div>  
    </div>
  </div>

  <%# Interventions Tab %>
  <div class="tabs-elem__tab-content engine-interventions-tab" data-target="interventions" style="display:none;">
    interventions
  </div>


  <%# Side bar for adding issue %>
  <div class="overlay-sidebar"></div>
  <div class="sidebar-adding" id="formIssue" style="display:block;">
    <div class="sidebar-adding__inner">
      <div class="sidebar-adding__title">Enregistrer un incident</div>
      <hr>
      <div class="form-lay1">
        <form>

          <div class="form-lay1__fields d-flex justify-content-between">
            <div class="form-lay1__input full border-box">
              <label>Catégorie incident</label>
              <select name="issue[name]" id="issue_name" required>
                <% @types.each do |type| %>
                <option value="<%= type.name %>"><%= type.name %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-lay1__fields d-flex justify-content-between">
            <div class="form-lay1__input full border-box">
              <label>Machine concernée</label>
              <select name="issue[engine_id]" id="issue_engine_id" multiple="multiple" required disabled>
                  <option value="<%= @engine.id %>" selected="selected"><%= @engine.has_name? %></option>
              </select>
            </div>
          </div>

          <div class="form-lay1__fields d-flex justify-content-between">
            <div class="form-lay1__input full border-box">
              <label>Date et heure de l'incident</label>
              <input type="datetime-local" name="issue[start_date]" id="issue_start_date" required>
            </div>
          </div>

          <div class="form-lay1__fields d-flex justify-content-between">
            <div class="form-lay1__input full border-box">
              <label>Description incident</label>
              <input type="hidden" name="issue[info]" id="issue_info_trix_input_issue_2"><trix-toolbar id="trix-toolbar-1"></trix-toolbar><trix-editor id="issue_info" input="issue_info_trix_input_issue_2" class="trix-content" data-direct-upload-url="http://localhost:3000/rails/active_storage/direct_uploads" data-blob-url-template="http://localhost:3000/rails/active_storage/blobs/:signed_id/:filename" contenteditable="" role="textbox" trix-id="1" toolbar="trix-toolbar-1"></trix-editor>
            </div>
          </div>

          <div class="form-lay1__action">
            <input type="submit" value="Ajouter" name="commit">
          </div>

        </form>
      </div>
      <div class="sidebar-adding__close"><%= fa_icon 'close' %></div>
    </div>
  </div>
</section>




