<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>


<%#-------Module Edit User-------%>

<div class="mod mod-edit-user">
  <div class="container-fluid">

    <%# Row Go Back %>
    <div class="row go-back">
      <div class="col-md-9">
        <%= link_to company_path(current_user.company_id), class: 'action-btn__grey' do %>
        <%= fa_icon 'chevron-left' %> Retour
        <% end %>
      </div>
    </div>

    <%# Row heading %>
    <div class="row heading">
      <div class="col-md-9">
        <%# Breadcrumbs %>
        <ul class="breadcrumbs no-styles">
          <li><a href="<%= settings_path %>">Paramètres</a></li>
          <li><span><%= fa_icon 'chevron-right' %></span></li>
          <li><a href="<%= company_path(current_user.company_id) %>">Organisation</a></li>
          <li><span><%= fa_icon 'chevron-right' %></span></li>
          <li><span>Mon compte</span></li>
        </ul>
        <%# Title %>
        <div class="d-flex align-items-center justify-content-between">
          <h1>Mon compte</h1>
        </div>                 
      </div>
    </div>

    <%# Row Form %>
    <div class="row">
      <div class="col-md-9">
        
      </div>
    </div>
  </div> 
</div>


<div class="mod mod-edit-user">
  <h1>Modifier votre compte</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <img src="<%= @user.avatar %>" class="avatar-user">
  <%= f.file_field :avatar %>

  <%= f.input :firstname, :label => "Prénom" %>

  <%= f.input :lastname, :label => "Nom"  %>

  <%= f.association :company, as: :select, collection: Company.order(:id), :label => "Entreprise" %>

  <%= f.input :position, :label => "Poste"  %>
  
  <%= f.input :email, autofocus: true, autocomplete: "email", :label => "Email" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>En attente de confirmation pour : <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.input :password, autocomplete: "new-password", :label => "Nouveau mot de passe" %>
  <% if @minimum_password_length %>
    <em><%= @minimum_password_length %> characters minimum</em>
  <% end %>

  <%= f.input :current_password, autocomplete: "current-password", :label => "Mot de passe actuel" %>

  <br>
  <br>
  <%= f.submit "Mettre à jour", class: 'btn btn-lg btn-primary' %>
<% end %>
<br>
<%= link_to "Back", :back %>
</div>
