<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>


<%#-------Module Edit User-------%>

<div class="mod mod-edit-user">
  <div class="container-fluid">

    <%# Row Go Back %>
    <div class="row go-back">
      <div class="col-md-9">
        <%= link_to company_path(current_user.company_id), class: 'action-btn__grey' do %>
        <%= fa_icon 'chevron-left' %> Retour
        <% end %>
      </div>
    </div>

    <%# Row heading %>
    <div class="row heading">
      <div class="col-md-9">
        <%# Breadcrumbs %>
        <ul class="breadcrumbs no-styles">
          <li><a href="<%= settings_path %>">Paramètres</a></li>
          <li><span><%= fa_icon 'chevron-right' %></span></li>
          <li><a href="<%= company_path(current_user.company_id) %>">Organisation</a></li>
          <li><span><%= fa_icon 'chevron-right' %></span></li>
          <li><span>Mon compte</span></li>
        </ul>
        <%# Title %>
        <div class="d-flex align-items-center justify-content-between">
          <h1>Mon compte</h1>
        </div>                 
      </div>
    </div>

    <%# Row Form %>
    <div class="row">
      <div class="col-md-9">
        <div class="form-lay1">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <div class="form-lay1__fields d-flex justify-content-between">
            <div class="form-lay1__input full border-box avatar">
             <%= f.file_field :picture %>
           </div>
         </div>

         <div class="form-lay1__fields d-flex justify-content-between">
          <div class="form-lay1__input half border-box">
            <%= f.input :firstname, :label => "Prénom" %>
          </div>
          <div class="form-lay1__input half border-box">
            <%= f.input :lastname, :label => "Nom"  %>
          </div>
        </div>

        <div class="form-lay1__fields d-flex justify-content-between">
          <div class="form-lay1__input half border-box">
            <%= f.input :email, autofocus: true, autocomplete: "email", :label => "Email" %>
          </div>
          <div class="form-lay1__input half border-box">
            <%= f.input :position, :label => "Poste"  %>
          </div>
        </div>

        <div class="form-lay1__fields d-flex justify-content-between">
          <div class="form-lay1__input full border-box">
            <%= f.input :password, autocomplete: "new-password", :label => "Nouveau mot de passe" %>
            <div class="form-lay1__info">
              <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-lay1__fields d-flex justify-content-between">
          <div class="form-lay1__input full border-box">
            <%= f.input :current_password, autocomplete: "current-password", :label => "Mot de passe" %>
          </div>
        </div>

        <div class="form-lay1__action">
          <%= f.submit "Mettre à jour"%>
       </div>


       <div class="form-lay1__error-msg">
         <%= render "devise/shared/error_messages", resource: resource %>
       </div>

       <% end %>
     </div>
   </div>
 </div>
</div> 
</div>
