<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>


<%#-------Module Edit User-------%>
<div class="mod mod-edit-user">
  <h1>Modifier votre compte</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <img src="<%= @user.avatar %>" class="avatar-user">
  <%= f.file_field :avatar %>

  <%= f.input :firstname, :label => "Prénom" %>

  <%= f.input :lastname, :label => "Nom"  %>

  <%= f.association :company, as: :select, collection: Company.order(:id), :label => "Entreprise" %>

  <%= f.input :position, :label => "Poste"  %>
  
  <%= f.input :email, autofocus: true, autocomplete: "email", :label => "Email" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>En attente de confirmation pour : <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.input :password, autocomplete: "new-password", :label => "Nouveau mot de passe" %>
  <% if @minimum_password_length %>
    <em><%= @minimum_password_length %> characters minimum</em>
  <% end %>

  <%= f.input :current_password, autocomplete: "current-password", :label => "Mot de passe actuel" %>

  <br>
  <br>
  <%= f.submit "Mettre à jour", class: 'btn btn-lg btn-primary' %>
<% end %>
<br>
<%= link_to "Back", :back %>
</div>




<!-- OLD FORM

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <img src="<%= @user.avatar %>" class="avatar-user">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar  %>

    </div>

    <div class="field">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname  %>
    </div>

    <div class="field">
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname  %>
    </div>

    <div class="field">
      <%= f.label :position %> <br />
      <%= f.text_field :position %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
-->
