<%#-------------Module Create Company AJAX-------------%>
<div class="mod-create-company">
  <div class="container">
    <!--Row heading-->
    <div class="row justify-content-center heading">
      <div class="col-md-8">
        <h1>Création du compte entreprise</h1>
      </div>
    </div>
    <!--Row Form AJAX-->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="mod-create-company__form">
          <!--Form AJAX Create Company-->
          <form id="createCompany">
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




<%#-------Module Create User depending on company-------%>
<div class="mod-create-user">
  <div class="container">
    <!--Row heading-->
    <div class="row justify-content-center heading">
      <div class="col-md-8">
        <h1>Création du compte utilisateur</h1>
      </div>
    </div>
    <!--Row form-->
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <%= render "devise/shared/error_messages", resource: resource %>

        <%= f.input :firstname, :label => "Prénom" %>
        <%= f.input :lastname, :label => "Nom"  %>
        <%= f.association :company, as: :select, collection: Company.order(:id), :label => "Entreprise" %>
        <%= f.input :email, autofocus: true, autocomplete: "email", :label => "Email" %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>En attente de confirmation pour : <%= resource.unconfirmed_email %></div>
        <% end %>

        <%= f.input :password, autocomplete: "new-password", :label => "Nouveau mot de passe" %>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> charactères au minimum</em>
        <% end %>

        <%= f.input :password_confirmation, autocomplete: "new-password", :label => "Confirmer le mot de passe" %>

        <br>
        <br>
        <%= f.submit "Créer votre compte", class: 'btn btn-lg btn-primary' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


