<%= simple_form_for @issue do |f| %>
<div class="form-lay1__fields d-flex justify-content-between">
  <div class="form-lay1__input full border-box">
    <%= f.input :name, :label => "Nom"  %>
  </div>
</div>
<div class="form-lay1__fields d-flex justify-content-between">
  <div class="form-lay1__input full border-box">
    <%= f.input :engine_id, as: :select, collection: Engine.order(:name), :label => "Machine concernée" %>
  </div>
</div>

<div class="form-lay1__fields d-flex justify-content-between">
  <div class="form-lay1__input full border-box">
    <label>Description incident</label>
    <%= f.rich_text_area :info %>
  </div>
</div>

<div class="form-lay1__fields d-flex justify-content-between">
  <div class="form-lay1__input full border-box">
    <%= f.input :start_date, as: :datetime, html5: true, :label => "Date et heure de l'incident" %>
  </div>
</div>

<div class="form-lay1__fields d-flex justify-content-between">
  <div class="form-lay1__input full border-box">
    <%= f.input :status, as: :select, :collection => [['En cours', 'encours'], ['Résolu', 'resolu']], :label => "Statut" %>
  </div>
</div>

<div class="form-lay1__action">
  <%= f.submit "Mettre à jour", class: 'btn btn-lg btn-primary float-right' %>
</div>
<% end %>