<div class="card-issue pop-up-element"  data-id="<%= issue.id %>">
    <div class="card-issue__engine">
        <% if issue.engine %>
        <%= issue.engine.name %>
        <% end %>
    </div>
    <div class="card-issue__content">
        <div class="card-issue__metas">
            <div class="card-issue__name"><%= issue.name %><hr></div>       
        </div>
        <% if issue.start_date %>
        <div class="card-issue__datetime">
            <span><%= fa_icon "calendar" %> <%= issue.start_date.strftime('%d.%m.%y') %></span>
            <span><%= fa_icon "history" %> <%= issue.start_date.strftime('%Hh%M') %></span>
        </div>
        <% end %>

        <div class="card-issue__desc">
            <span>Message :</span>
            <% if issue.info %>
            <div><%= strip_tags(issue.info.to_s).truncate(40) %></div>
            <% else %>
            <div>N/A</div>
            <% end %>
        </div>

        <div class="card-issue__btn d-flex justify-content-between">
            <a class="js-pop-open action-btn__small" data-name="detail-<%= issue.id %>"><%= fa_icon "list" %>  Voir le détail</a>

            <% if issue.status == "encours" %>
                <%= link_to edit_issue_path(issue), class: "action-btn__small up-issue" do %>
                <%= fa_icon "check" %>  Résoudre   
                <% end %>
            <% end %>
            
            <% if issue.status == "resolu" %>
            <span class="ar-issue action-btn__small white" data-id="<%= issue.id %>"><%= fa_icon "archive" %> Archiver</span>
            <% end %>

            <% if issue.status == "archived" %>
            
            <%= link_to issue, method: :delete, data: { confirm: 'Confirmer la suppression ?' }, remote: :true, class: "issue-delete default-btn action-btn__delete" do %>
                <%= fa_icon "trash" %> Supprimer  
            <% end %>    

            <span class="issue-delete-checkbox">
                <%= fa_icon "check" %> 
            </span>

            <% end %>
            
        </div> 
    </div>

    <%# Pop Up Detail Issue %>
    <div class="js-screen-open" data-open="detail-<%= issue.id %>">
        <div class="js-screen__inner">
            <span class="js-screen__close"><%= fa_icon "times-circle" %></span>
            <div class="js-screen__pop pop-up-issue">
                <div class="pop-up-issue__inner">
                        <div class="card-issue__status">
                            <% if issue.status == "encours" %>
                            <span class="issue-progress"><%= fa_icon "exclamation-circle" %> En cours</span>
                            <% else issue.status == "resolu" %>
                            <span class="issue-resolved"><%= fa_icon "check-square" %> Résolu</span>
                            <% end %>
                        </div>
                    <div class="pop-up-issue__heading">
                        <%= issue.name %>
                    </div>
                    <div class="pop-up-issue__engine">
                        <% if issue.engine %>
                        <%= issue.engine.name %>
                        <% end %>
                    </div>
                    <div class="pop-up-issue__metas">
                        <% if issue.start_date %>
                        <div class="pop-up-issue__date">
                            <span><%= fa_icon "calendar" %> <%= issue.start_date.strftime('%d.%m.%y') %></span>
                            <span><%= fa_icon "history" %> <%= issue.start_date.strftime('%Hh%M') %></span>
                        </div>
                        <% end %>
                    </div>
                    <div class="pop-up-issue__info">
                        <div class="pop-up-issue__info-title">Message :</div>
                        <%= issue.info %>
                    </div>
                    <% if issue.user_id %>
                    <div class="pop-up-issue__user">
                        <div class="pop-up-issue__user-avatar">
                            <img src="<%= issue.user.picture_url%>">
                        </div>
                        <span><%= issue.user.firstname %><br><%= issue.user.lastname %></span>
                    </div>
                    <% end %>
                    <div class="pop-up-issue__number">
                        Incident n°<%= issue.id %>
                    </div>

                    <% if issue.validation_file_url %>
                    <div class="pop-issue__validation-file">
                        <%= link_to issue.validation_file_url, target: "_blank" do %>
                        <%= fa_icon "external-link" %> Fiche d'incident
                        <% end %>
                    </div>
                    <% end %>

                </div>
            </div>        
        </div>
    </div>
</div>


