<%#-------Module Edit Issue-------%>

<section class="mod mod-edit-issue">
    <div class="container-fluid">

        <%# Row Go Back %>
        <div class="row go-back">
            <div class="col-md-9">
                <%= link_to request.referer, class: 'action-btn__grey' do %>
                <%= fa_icon 'chevron-left' %> Retour
                <% end %>
            </div>
        </div>

        <%# Row heading %>
        <div class="row justify-content-center heading">
            <div class="col-md-6">
                <%# Title %>
                <div class="txt-center">
                    <h1>Résolution de l'incident</h1>
                    <div class="baseline">Pour valider la résolution, veuillez téléverser la fiche d'incident correspondante au format PDF.</div>
                </div>                 
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="mod-edit-issue__infos">
                    <%# Info Issue %>
                    <div class="mod-edit-issue__info-item">
                        <div class="mod-edit-issue__infos__title">Incident</div>
                        <div class="card-issue-little">
                            <div class="card-issue-little__inner">
                                <div class="card-issue-little__name">
                                    <% if @issue.name %>
                                        <%= @issue.name %>
                                    <% end %>
                                </div>
                                <% if @issue.start_date %>
                                <div class="card-issue-little__datetime">
                                    <span><%= fa_icon "calendar" %> <%= @issue.start_date.strftime('%d.%m.%y') %></span>
                                    <span><%= fa_icon "history" %> <%= @issue.start_date.strftime('%Hh%M') %></span>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <%# Info Issue Engine %>
                    <div class="mod-edit-issue__info-item">
                        <div class="mod-edit-issue__infos__title">Machine concernée</div>
                        <div class="card-engine-little">
                            <div class="card-engine-little__inner">
                                <div class="card-engine-little__name">
                                    <% if @issue.engine %>
                                        <%= @issue.engine.has_name? %>
                                    <% end %>
                                </div>
                                <div class="d-flex">
                                    <div class="engine-card-little__categories">
                                        <% if @issue.engine %>
                                            <% @issue.engine.tags.map.each do |t| %>
                                            <span style="background:<%= t.tag_color %>;"><%= fa_icon "tag" %><%= t.name %></span>
                                            <% end %>
                                        <% end %>
                                    </div>
                                    <div class="engine-card-little__room">
                                        <% if @issue.engine %>
                                            <span><%= fa_icon "map-marker" %><%= @issue.engine.has_room? %></span>
                                        <% end %>
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div>
                </div>
                <div class="form-lay1">
                    <%= render 'form', issue: @issue %>
                </div>
            </div>
        </div>
    </div>
</section>