<%###### Start Module Index Issues #####%>
<section class="mod mod-issues-index">
  <div class="container-fluid">

    <%# Message to display when created %>
    <div class="row" id="messageIssue" style="display:none;">
      <div class="col-md-9">
        <div class="success-adding">
          Incident enregistré avec succès
        </div>    
      </div>
    </div>

    <%# Row heading %>
    <div class="row heading">
      <div class="col-md-12 p0">
        <div class="d-flex justify-content-between align-items-center">
          <h1>
            Incidents
          </h1>
          <div>
            <%= link_to issues_archives_path, class: "action-btn__add trans" do %>
            <%= fa_icon "archive" %>Incidents archivés    
            <% end %>

            <%= link_to new_issue_path, class: "action-btn__add", remote: true do %>
            <%= fa_icon "plus" %>Enregistrer un incident    
            <% end %>
          </div>
          
        </div>      
      </div>
    </div>

    <%# Row list progress and resolved issues %>
    <div class="row">
      <%# Col Issues Progress %>
      <div class="col-md-6">
        <div class="list-issues">
          <div class="list-issues__heading unsolved"><%= fa_icon "exclamation-circle" %>En cours (<%= @progress_issues.length() %>)</div>
          <div class="list-issues__table" id="renderIssues">
            <%= render @progress_issues %>
          </div>
        </div>
      </div>

      <%# Col Issues Resolved %>
      <div class="col-md-6">
        <div class="list-issues">
          <div class="list-issues__heading solved"><%= fa_icon "check-square" %>Résolus (<%= @resolved_issues.length() %>)</div>
          <div class="list-issues__table" id="renderResolvedIssues">
            <%= render @resolved_issues %>
          </div>
        </div>        
      </div>
    </div>

    <%# Side bar for adding issue %>
    <div class="overlay-sidebar"></div>
    <div class="sidebar-adding" id="formIssue" style="display:block;">
      <div class="sidebar-adding__inner">
        <div class="sidebar-adding__title">Enregistrer un incident</div>
        <hr>
        <div class="form-lay1">
          <form>

            <div class="form-lay1__fields d-flex justify-content-between">
              <div class="form-lay1__input full border-box">
                <label>Catégorie incident</label>
                <select name="type[name]" id="type_name" required>
                  <% @types.each do |type| %>
                  <option value="<%= type.name %>"><%= type.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="form-lay1__fields d-flex justify-content-between">
              <div class="form-lay1__input full border-box">
                <label>Machine concernée</label>
                <select name="issue[engine_id]" id="issue_engine_id" multiple="multiple" required>
                  <% @engines.each do |engine| %>
                  <option value="<%= engine.id %>"><%= engine.has_name? %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="form-lay1__fields d-flex justify-content-between">
              <div class="form-lay1__input full border-box">
                <label>Date et heure de l'incident</label>
                <input type="datetime-local" name="issue[start_date]" id="issue_start_date" required>
              </div>
            </div>

            <div class="form-lay1__fields d-flex justify-content-between">
              <div class="form-lay1__input full border-box">
                <label>Description incident</label>
                <input type="hidden" name="issue[info]" id="issue_info_trix_input_issue_2"><trix-toolbar id="trix-toolbar-1"></trix-toolbar><trix-editor id="issue_info" input="issue_info_trix_input_issue_2" class="trix-content" data-direct-upload-url="http://localhost:3000/rails/active_storage/direct_uploads" data-blob-url-template="http://localhost:3000/rails/active_storage/blobs/:signed_id/:filename" contenteditable="" role="textbox" trix-id="1" toolbar="trix-toolbar-1"></trix-editor>
              </div>
            </div>

            <div class="form-lay1__action">
              <input type="submit" value="Ajouter" name="commit">
            </div>

          </form>
        </div>
        <div class="sidebar-adding__close"><%= fa_icon 'close' %></div>
      </div>
    </div>
  </section>