<%###### Start Module Index Issues #####%>
<section class="mod mod-issues-index">
  <div class="container-fluid">

    <%# Message to display when created %>
    <div class="row" id="messageIssue" style="display:none;">
      <div class="col-md-9">
        <div class="success-adding">
          Incident <span id="nameIssue"></span> enregistré avec succès
        </div>    
      </div>
    </div>

    <%# Row heading %>
    <div class="row heading">
      <div class="col-md-12 p0">
        <div class="d-flex justify-content-between align-items-center">
          <h1>
            Incidents
          </h1>
          <%= link_to new_issue_path, class: "action-btn__add", remote: true do %>
          <%= fa_icon "plus" %>Enregistrer un incident    
          <% end %>
        </div>      
      </div>
    </div>

    <%# Row list issues %>
    <div class="row">
      <div class="col-md-12">
        <div id="renderIssues">
          <%= render @issues %>
        </div>
      </div>
    </div>

    <%# Side bar for adding issue %>
    <div class="overlay-sidebar"></div>
    <div class="sidebar-adding" id="formIssue" style="display:block;">
      <div class="sidebar-adding__inner">
        <div class="sidebar-adding__title">Enregistrer un incident</div>
        <hr>
        <div class="form-lay1">
          <form>
            <div class="form-lay1__fields d-flex justify-content-between">
              <div class="form-lay1__input full border-box">
                <label>Nom</label>
                <input type="text" id="issue_name" name="issue[name]">
              </div>
            </div>
            <div class="form-lay1__fields d-flex justify-content-between">
              <div class="form-lay1__input full border-box">
                <label>Machine concernée</label>
                <select name="issue[engine_id]" id="issue_engine_id" multiple="multiple">
                  <option value="">Sélectionner</option>
                  <% @engines.each do |engine| %>
                  <option value="<%= engine.id %>"><%= engine.has_name? %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="form-lay1__action">
              <input type="submit" value="Ajouter" name="commit">
            </div>
          </form>
        </div>
        <div class="sidebar-adding__close"><%= fa_icon 'close' %></div>
      </div>
    </div>
  </section>