<%#-------Call Nav------- %>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module New user------- %>
<div class="mod mod-index-rooms">
  <div class="container-fluid">
    <%# Row heading %>
    <div class="row">
        <div class="col-md-12">
            <h1>Ajouter un utilisateur</h1>
        </div>
    </div>
    <%# Row Form %>
    <div class="row">
        <div class="col-md-12">
            <%= simple_form_for @user do |f| %>
            <%= f.input :firstname, :label => "Prénom" %>
            <%= f.input :lastname, :label => "Nom"  %>
            <%= f.input :position, :label => "Poste"  %>
            <%= f.input :email, :label => "Email"  %>
            <%= f.input :password, :label => "Mot de passe" %>
            <!--
            <%= f.input :company_id, as: :select, collection: Company.order(:id), :label => "Rattachée à l'entreprise" %>
            -->
            <%= f.submit "Ajouter l'utilisateur", class: 'btn btn-lg btn-primary float-right' %>
            <% end %>
        </div>
    </div>
</div> 