<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module Settings-------%>
<section class="mod mod-settings-index">
    <div class="container-fluid">
        <div class="row heading">
             <div class="col-md-12">
                <h1>Paramètres</h1>
            </div> 
        </div>
        <hr>
        <div class="row mod-settings-index__row">
            <div class="col-md-12">
                <div class="settings-row">
                    <div class="settings-row__heading">
                        <h2>Parc d'exploitation</h2>
                    </div>
                    <div class="settings-row__list-cards">
                        <a href="<%= settings_tags_path %>" class="settings-card no-decoration">
                            <div class="settings-card__icon">
                                <%= fa_icon 'tags' %>
                            </div>
                            <div class="settings-card__txt">
                                Modifier les catégories affectées aux machines
                            </div>
                            <div class="settings-card__arrow">
                                <%= fa_icon 'arrow-right' %>
                            </div>
                        </a>
                        <a href="<%= settings_rooms_path %>" class="settings-card no-decoration">
                            <div class="settings-card__icon">
                                <%= fa_icon 'map-marker' %>
                            </div>
                            <div class="settings-card__txt">
                                Modifier les salles affectées aux machines
                            </div>
                            <div class="settings-card__arrow">
                                <%= fa_icon 'arrow-right' %>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mod-settings-index__row">
            <div class="col-md-12">
                <div class="settings-row">
                    <div class="settings-row__heading">
                        <h2>Utilisateurs et équipe</h2>
                    </div>
                    <div class="settings-row__list-cards">
                        <a href="<%= company_path(current_user.company_id) %>" class="settings-card no-decoration">
                            <div class="settings-card__icon">
                                <%= fa_icon 'building' %>
                            </div>
                            <div class="settings-card__txt">
                                Vue d'ensemble de l'organisation
                            </div>
                            <div class="settings-card__arrow">
                                <%= fa_icon 'arrow-right' %>
                            </div>
                        </a>
                        <a href="<%= edit_user_registration_path(current_user) %>" class="settings-card no-decoration">
                            <div class="settings-card__icon">
                                <%= fa_icon 'user' %>
                            </div>
                            <div class="settings-card__txt">
                                Mon compte
                            </div>
                            <div class="settings-card__arrow">
                                <%= fa_icon 'arrow-right' %>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>