<tr>
  <td><%= intervention_category.name %></td>
  <td><%= intervention_category.description %></td>

  <td><%= intervention_category.company.name %></td>

  <td><%= link_to 'Edit', edit_intervention_category_path(intervention_category) %></td>
  <td><%= link_to 'Destroy', intervention_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>