<p id="notice"><%= notice %></p>

<h1>Intervention Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intervention_categories.each do |intervention_category| %>
      <tr>
        <td><%= intervention_category.name %></td>
        <td><%= intervention_category.description %></td>
        <td><%= link_to 'Show', intervention_category %></td>
        <td><%= link_to 'Edit', edit_intervention_category_path(intervention_category) %></td>
        <td><%= link_to 'Destroy', intervention_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intervention Category', new_intervention_category_path %>
