<%#-------Call Nav------- %>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module Show Company------- %>
<div class="mod mod-show-company">
  <div class="container-fluid">
    <%# Row heading %>
    <div class="row">
      <div class="col-md-12">
        <h1>Organisation</h1>
      </div>
    </div>

    <%# Row Company %>
    <div class="row">
      <div class="col-md-12">
        <div class="mod-show-company__company-row">
          <h2><%= @company.name %></h2>
          <%= @company.address %>
        </div> 
      </div>
    </div>

    <%= link_to 'Modifier', edit_company_path(@company) %>

    <%# Row users belongs to current company %>
    <div class="row mod-show-company__users-encart">
      <div class="col-md-12">
        <h2>Utilisateurs <span>(<%= @company.users.length() %>)</span></h2>
        <% if @company.users.length() > 0 %>
        <div class="mod-show-company__users-list shadowed radius5" id="usersList">
          <% @company.users.each do |user| %>
          <div class="user-card d-flex align-items-center justify-content-between">
            <div class="user-card__infos d-flex align-items-center">
              <% if user.avatar_file_name != nil %>
              <div class="user-card__avatar">
                <img class="object-fit" src="<%= user.avatar %>">
              </div>
              <% else %>
              <div class="user-card__avatar p8">
                <img class="object-fit" src="<%= asset_path 'user_default_svg.png' %>">
              </div>
              <% end %> 
              <span class="user-card__id">
                <div class="user-card__name">
                  <%= user.firstname %> <%= user.lastname %> <% if user.email == current_user.email %><span>(Vous)</span><% end %>
                </div>    
                <div class="user-card__email"><%= user.email %></div>
              </span>
              <span class="user-card__position"><%= user.position %></span>
            </div>
            <div class="user-card__actions">
              <%= link_to 'Mettre à jour', edit_user_path(user.id), class: "action-btn__small" %>
              <% if user != current_user %>
              <%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "action-btn__small" %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div> 
    </div>

    <%# Row add new users %>
    <div class="row mod-show-company__user-actions">
      <div class="col-md-12">
        <div class="align-right">
          <%= link_to new_user_path, class: "action-btn__add" do %>
          <%= fa_icon 'plus' %>Ajouter un utilisateur       
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
