<%#-------Module Show Company------- %>
<section class="mod mod-show-company">
  <div class="container-fluid">

    <%# Message to display when created %>
    <div class="row" id="messageUser" style="display:none;">
      <div class="col-md-9">
        <div class="success-adding">
          Utilisteur ajouté sur la plateforme
        </div>    
      </div>
    </div>

    <%# Row Go Back %>
    <div class="row go-back">
      <div class="col-md-9">
        <%= link_to settings_path, class: 'action-btn__grey' do %>
        <%= fa_icon 'chevron-left' %> Retour
        <% end %>
      </div>
    </div>

    <%# Row heading %>
    <div class="row heading">
      <div class="col-md-9">
        <%# Breadcrumbs %>
        <ul class="breadcrumbs no-styles">
          <li><a href="<%= settings_path %>">Paramètres</a></li>
          <li><span><%= fa_icon 'chevron-right' %></span></li>
          <li><span>Organisation</span></li>
        </ul>
        <%# Title %>
        <div class="d-flex align-items-center justify-content-between">
          <h1>Organisation</h1>
        </div>
      </div>
    </div>

    <%# Row Company show %>
    <div class="row">
      <div class="col-md-9">
        <div class="mod-show-company__row-company d-flex">

          <%# Col infos %>
          <div class="mod-show-company__row-company__col-infos border-box">
            <h2><%= @company.name %></h2>
            <hr>
            <div class="mod-show-company__company-infos" data-lat="<%= @company.lat %>" data-lng="<%= @company.lng %>">
              <ul class="no-styles">
                <li><span>Adresse :</span> <%= @company.address %></li>
                <li><span>Ville : </span> <%= @company.city %></li>
                <li><span>Code postal : </span> <%= @company.zip %></li>
                <li>Département : </span> <%= @company.department %></li>
              </ul>
            </div>
            <div>
              <%= link_to edit_company_path(@company), class: "action-btn__add" do %>
              <%= fa_icon 'edit' %>Modifier les informations       
              <% end %>
            </div> 
          </div>

          <%# Col Map %>
          <div class="mod-show-company__row-company__col-map border-box">
            <div id="map"></div>
          </div>
          
        </div>
      </div>
    </div>
    


    <%# Row users belongs to current company %>
    <div class="row mod-show-company__users-encart">
      <div class="col-md-9">
        <h2>Utilisateurs <span>(<%= @company.users.length() %>)</span></h2>
        <% if @company.users.length() > 0 %>
        <div class="mod-show-company__users-list" id="usersList">
          <%= render @users %>
        </div>
        <% end %>
      </div> 
    </div>

    <%# Row add new users %>
    <div class="row mod-show-company__user-actions">
      <div class="col-md-9">
        <div class="align-right">
          <%= link_to new_user_path, class: "action-btn__add", remote: true do %>
          <%= fa_icon 'plus' %>Ajouter un utilisateur       
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <%# Side bar for adding tag %>
  <div class="overlay-sidebar"></div>
  <div class="sidebar-adding" id="formUser" style="display:block;">
    <div class="sidebar-adding__inner">
      <div class="sidebar-adding__title">Ajouter un utilisateur</div>
      <hr>
      <div class="form-lay1">
        <form>
          <div class="form-lay1__fields d-flex justify-content-between">
            <div class="form-lay1__input half border-box">
              <label>Prénom</label>
              <input type="text" id="user_firstname" name="user[firstname]" required>
            </div>
            <div class="form-lay1__input half border-box">
              <label>Nom</label>
              <input type="text" id="user_lastname" name="user[lastname]" required>
            </div>
          </div>
          <div class="form-lay1__fields d-flex justify-content-between">
            <div class="form-lay1__input full border-box">
              <label>Email</label>
              <input type="text" id="user_email" name="user[email]" required>
            </div>
          </div>
          <div class="form-lay1__fields d-flex justify-content-between">
            <div class="form-lay1__input full border-box">
              <label>Mot de passe</label>
              <input class="form-control password" type="password" name="user[password]" id="user_password" required>
            </div>
          </div>
          <div class="form-lay1__hidden-fields">
            <input type="text" id="user_company_id" name="user[company_id]" value="<%= current_user.company_id %>">
          </div>
          <div class="form-lay1__action">
            <input type="submit" value="Ajouter" name="commit">
          </div>
        </form>
      </div>
      <div class="sidebar-adding__close"><%= fa_icon 'close' %></div>
    </div>
  </div>
</section>

<!--Google Map API Call-->
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMoYa-Me7Ke0So2hlq5l7sdXNGtyfN20M&callback=initMap">
</script>

<script>
  function initMap() {
    var companyLat = parseFloat($('.mod-show-company__company-infos').attr('data-lat'));
    var companyLng = parseFloat($('.mod-show-company__company-infos').attr('data-lng'));
    var myMapCenter = {lat:companyLat, lng:companyLng};

    var map = new google.maps.Map(document.getElementById('map'), {
      center: myMapCenter,
      zoom: 12
    });

    var pos = new google.maps.LatLng(companyLat, companyLng);

    var marker = new google.maps.Marker({
      position: pos
    });

    marker.setMap(map);
  }
</script>



