<%#-------Call Nav------- %>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module Index Rooms------- %>
<div class="mod mod-index-rooms">
  <div class="container-fluid">
    <%# Row heading %>
    <div class="row">
      <div class="col-md-12">
        <h1><%= @company.name %></h1>
      </div>
    </div>
    <%# Row Listing %>
    <div class="row">
      <div class="col-md-12">
        <%= @company.address %>
      </div>
    </div>
    <%# Row features %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Modifier', edit_company_path(@company) %> |
        <%= link_to 'Ajouter un utilisateur', add_user_path %>
        <p id="notice"><%= notice %></p>
      </div>
    </div>
  </div>
</div>

