<%#-------Call Nav------- %>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module Show Company------- %>
<div class="mod mod-index-rooms">
  <div class="container-fluid">
    <%# Row heading %>
    <div class="row">
      <div class="col-md-12">
        <h1><%= @company.name %></h1>
      </div>
    </div>
    <%# Row Listing %>
    <div class="row">
      <div class="col-md-12">
        <%= @company.address %>
      </div>
    </div>
    <%# Row features %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Modifier', edit_company_path(@company) %>
        <p id="notice"><%= notice %></p>
      </div>
    </div>
    <%# Row users belongs to current company %>
    <div class="row">
      <div class="col-md-12">
        <h2>Utilisateurs (<%= @company.users.length()%>)</h2>
        <div class="users-list">
          <% @company.users.each do |user| %>
          <div class="user-card d-flex align-items-center">
            <div class="user-card__avatar">
              <img class="object-fit" src="<%= user.avatar %>">
            </div>
            <%= user.firstname %> <%= user.lastname %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-12">
        <%= link_to 'Ajouter un utilisateur', new_user_path %>
      </div>    
    </div>
  </div>
</div>

