<%#-------Call Nav------- %>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module Show Company------- %>
<div class="mod mod-show-company">
  <div class="container-fluid">
    <%# Row heading %>
    <div class="row">
      <div class="col-md-12">
        <h1><%= @company.name %></h1>
      </div>
    </div>
    <%# Row Listing %>
    <div class="row">
      <div class="col-md-12">
        <%= @company.address %>
      </div>
    </div>
    <%# Row features %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Modifier', edit_company_path(@company) %>
        <p id="notice"><%= notice %></p>
      </div>
    </div>
    <%# Row users belongs to current company %>
    <div class="row">
      <div class="col-md-12">
        <h2>Utilisateurs (<%= @company.users.length()%>)</h2>
        <div class="users-list shadowed radius5">
          <% @company.users.each do |user| %>
          <div class="user-card d-flex align-items-center justify-content-between">
            <div class="user-card__infos d-flex align-items-center">
              <% if user.avatar_file_name != nil %>
              <div class="user-card__avatar shadowed">
                <img class="object-fit" src="<%= user.avatar %>">
              </div>
              <% else %>
              <div class="user-card__avatar shadowed p8">
                <img class="object-fit" src="<%= asset_path 'user_default_svg.png' %>">
              </div>
              <% end %> 
              <span class="user-card__name"><%= user.firstname %> <%= user.lastname %></span>
            </div>
            <div class="user-card__actions">
              <%= link_to 'Modifier', edit_user_path(user.id) %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-12">
        <%= link_to 'Ajouter un utilisateur', new_user_path %>
      </div>    
    </div>
  </div>
</div>
