<%#-------Call Nav------- %>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module Show Company------- %>
<div class="mod mod-show-company">
  <div class="container-fluid">

    <%# Row Go Back %>
    <div class="row go-back">
      <div class="col-md-9">
        <%= link_to settings_path, class: 'action-btn__grey' do %>
        <%= fa_icon 'chevron-left' %> Retour
        <% end %>
      </div>
    </div>

    <%# Row heading %>
    <div class="row heading">
      <div class="col-md-9">
        <%# Breadcrumbs %>
        <ul class="breadcrumbs no-styles">
          <li><a href="<%= settings_path %>">Paramètres</a></li>
          <li><span><%= fa_icon 'chevron-right' %></span></li>
          <li><span>Organisation</span></li>
        </ul>
        <%# Title %>
        <div class="d-flex align-items-center justify-content-between">
          <h1>Organisation</h1>
        </div>
      </div>
    </div>

    <%# Row Company show %>
    <div class="row">
      <div class="col-md-9">
        <div class="mod-show-company__row-company">
          <%# Col infos %>
          <div>
            <h2><%= @company.name %></h2>
            <div class="mod-show-company__company-infos" data-lat="<%= @company.lat %>" data-lng="<%= @company.lng %>">
              <ul class="no-styles">
                <li><span>Adresse :</span> <%= @company.address %></li>
                <li><span>Ville : </span> <%= @company.city %></li>
                <li><span>Code postal : </span> <%= @company.zip %></li>
                <li>Département : </span> <%= @company.department %></li>
              </ul>
            </div>
            <div>
              <%= link_to edit_company_path(@company), class: "action-btn__add" do %>
              <%= fa_icon 'edit' %>Modifier les informations       
              <% end %>
            </div> 
          </div>

          <%# Col Map %>
          <div id="map"></div>

        </div>
      </div>
    </div>
    


    <%# Row users belongs to current company %>
    <div class="row mod-show-company__users-encart">
      <div class="col-md-9">
        <h2>Utilisateurs <span>(<%= @company.users.length() %>)</span></h2>
        <% if @company.users.length() > 0 %>
        <div class="mod-show-company__users-list shadowed radius5" id="usersList">
          <% @company.users.each do |user| %>
          <div class="user-card d-flex align-items-center justify-content-between">
            <div class="user-card__infos d-flex align-items-center">
              <% if user.avatar_file_name != nil %>
              <div class="user-card__avatar">
                <img class="object-fit" src="<%= user.avatar %>">
              </div>
              <% else %>
              <div class="user-card__avatar p8">
                <img class="object-fit" src="<%= asset_path 'user_default_svg.png' %>">
              </div>
              <% end %> 
              <span class="user-card__id">
                <div class="user-card__name">
                  <%= user.firstname %> <%= user.lastname %> <% if user.email == current_user.email %><span>(Vous)</span><% end %>
                </div>    
                <div class="user-card__email"><%= user.email %></div>
              </span>
              <span class="user-card__position"><%= user.position %></span>
            </div>
            <div class="user-card__actions">
              <%= link_to 'Mettre à jour', edit_user_path(user.id), class: "action-btn__small" %>
              <% if user != current_user %>
              <%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "action-btn__small" %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div> 
    </div>

    <%# Row add new users %>
    <div class="row mod-show-company__user-actions">
      <div class="col-md-9">
        <div class="align-right">
          <%= link_to new_user_path, class: "action-btn__add" do %>
          <%= fa_icon 'plus' %>Ajouter un utilisateur       
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Google Map API Call-->
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMoYa-Me7Ke0So2hlq5l7sdXNGtyfN20M&callback=initMap">
</script>

<script>

  function initMap() {
    var companyLat = parseFloat($('.mod-show-company__company-infos').attr('data-lat'));
    var companyLng = parseFloat($('.mod-show-company__company-infos').attr('data-lng'));

    // pick center coordinates for your map
    var myMapCenter = {lat:companyLat, lng:companyLng};

    var map = new google.maps.Map(document.getElementById('map'), {
      center: myMapCenter,
      zoom: 12
    });

    var pos = new google.maps.LatLng(companyLat, companyLng);

    var marker = new google.maps.Marker({
      position: pos
    });

    marker.setMap(map);
  }
</script>



