<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>

<%#-------module Index Tag-------%>
<section class="mod mod-tags-list">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1>Types de machines</h1>
				<table>
				  <tbody>
				    <% @tags.each do |tag| %>
				      <tr>
				        <td><%= tag.name %></td>
				        <td><%= tag.tag_color %></td>
				        <% if tag.company_id %>
				        <td><%= tag.company.name %></td>
				        <% end %>
				        <td><%= link_to 'Supprimer', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				        <td><%= link_to 'Mettre à jour', edit_tag_path(tag) %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			

				<%= link_to 'Ajouter une famille', tag_new_path %>
			</div>
		</div>
	</div>
</section>