<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>

<%#-------module Index Tag-------%>
<section class="mod mod-tags-index">
	<div class="container-fluid">

		<%# Row Go Back %>
		<div class="row go-back">
			<div class="col-md-12">
				<%= link_to settings_path, class: 'action-btn__grey' do %>
				<%= fa_icon 'chevron-left' %> Retour
				<% end %>
			</div>
		</div>

		<%# Row heading %>
		<div class="row heading">
			<div class="col-md-9">

				<%# Breadcrumbs %>
				<ul class="breadcrumbs no-styles">
					<li><a href="<%= settings_path %>">Paramètres</a></li>
					<li><span><%= fa_icon 'chevron-right' %></span></li>
					<li><span>Catégories machines</span></li>
				</ul>

				<div class="d-flex align-items-center justify-content-between">
					<h1>Catégories machines</h1>

					<%= link_to tag_new_path, class: "action-btn__add", remote: true do %>
					<%= fa_icon "plus" %>Ajouter une catégorie      
					<% end %>
				</div>
					
			</div>
		</div>

		<%# Row render Tags %>
		<div class="row">
			<div class="col-md-9">
				<%# Simple list for tags %>
				<div class="mod-tags-index__list sp-list-actions">
					<%# Simple list heading %>
					<div class="sp-list-actions__heading d-flex">
						<div class="sp-list-actions__heading-item name">
							Nom
						</div>
						<div class="sp-list-actions__heading-item info"><%# No need to specify color %></div>
						<div class="sp-list-actions__heading-item info">
							Associations
						</div>
					</div>
					<div id="renderTags">
						<%= render @tags %>
					</div>
					
				</div>
			</div>
		</div>

		<%# Message to display when created %>
		<div class="row" id="messageTag" style="display:none; margin-top:100px;">
			<div class="col-md-12">
				Catégorie <span id="nameTag"></span> ajouté avec succès
			</div>
		</div>

		<%# Link for display form %>
		<div class="row actions" id="addTag">
			<div class="col-md-9">
				<div class="align-right">
					<%= link_to tag_new_path, class: "action-btn__add", remote: true do %>
					<%= fa_icon "plus" %>Ajouter une catégorie      
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<%# Side bar for adding tag %>
	<div class="overlay-sidebar"></div>
	<div class="sidebar-add-tag" id="formTag" style="display:block;">
		<div class="sidebar-add-tag__inner">
			<div class="sidebar-add-tag__title">Ajouter une catégorie</div>
			<hr>
			<div class="form-lay1">
				<form>
					<div class="form-lay1__fields d-flex justify-content-between">
						<div class="form-lay1__input full border-box">
							<label>Nom</label>
							<input type="text" id="tag_name" name="tag[name]">
						</div>
					</div>
					<div class="form-lay1__fields d-flex justify-content-between">
						<div class="form-lay1__input full border-box color-input">
							<label>Couleur</label>
							<div class="color-wrapper">
								<input type="color" id="tag_tag_color" name="tag[tag_color]">
							</div>
							
						</div>
					</div>
					<div class="form-lay1__action">
						<input type="submit" value="Ajouter" name="commit">
					</div>
				</form>
			</div>
			<div class="sidebar-add-tag__close"><%= fa_icon 'close' %></div>
		</div>
	</div>
</section>