<%#-------Call Nav-------%>
<%= render partial: '/layouts/navigation-app' %>

<%#-------module Index Tag-------%>
<section class="mod mod-tags-index">
	<div class="container-fluid">

		<%# Row Go Back %>
		<div class="row go-back">
			<div class="col-md-12">
				<%= link_to settings_path, class: 'action-btn__grey' do %>
				<%= fa_icon 'chevron-left' %> Retour
				<% end %>
			</div>
		</div>

		<%# Row heading %>
		<div class="row heading">
			<div class="col-md-12">

				<%# Breadcrumbs %>
				<ul class="breadcrumbs no-styles">
					<li><a href="<%= settings_path %>">Paramètres</a></li>
					<li><span><%= fa_icon 'chevron-right' %></span></li>
					<li><span>Catégories machines</span></li>
				</ul>

				<h1>Catégories machines</h1>	
			</div>
		</div>

		<%# Row render Tags %>
		<div class="row">
			<div class="col-md-10">
				<%# Simple list for tags %>
				<div class="mod-tags-index__list sp-list-actions">
					<%# Simple list heading %>
					<div class="sp-list-actions__heading d-flex">
						<div class="sp-list-actions__heading-item name">
							Nom
						</div>
						<div class="sp-list-actions__heading-item info"><%# No need to specify color %></div>
						<div class="sp-list-actions__heading-item info">
							Associations
						</div>
					</div>

					<%= render @tags %>
				</div>
			</div>
		</div>

		<%# Message to display when created %>
		<div class="row" id="messageTag" style="display:none; margin-top:100px;">
			<div class="col-md-12">
				Famille <span id="nameTag"></span> ajouté avec succès
			</div>
		</div>

		<%# Link for display form %>
		<div class="row" id="addTag" style="margin-top:100px;">
			<div class="col-md-12">
				<%= link_to 'Ajouter une famille', tag_new_path, remote: true %>
			</div>
		</div>

		<%# Form add tag %>
		<div class="row" id="formTag" style="display:none; margin-top:100px;">
			<div class="col-md-12">
				<div class="form-add-tag">
					<form>
						<div class="group">
							<label>Nom de la famille</label>
							<input type="text" id="tag_name" name="tag[name]">
						</div>	
						<div class="group">
							<label>Choix de la couleur</label>
							<input type="color" id="tag_tag_color" name="tag[tag_color]">
						</div>	
						<div class="action">
							<input type="submit" value="Ajouter" name="commit">
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</section>