<%###### Start Module Index Issues #####%>
<section class="mod mod-index-fixes">
  <div class="container-fluid">

    <%# Row heading %>
    <div class="row heading">
      <div class="col-md-12 p0">
        <div class="d-flex justify-content-between align-items-center">
          <h1>
            Interventions
          </h1>
          <div class="mod-index-issues__top-actions">
            <%= link_to new_intervention_path, class: "action-btn__add", remote: true do %>
            <%= fa_icon "plus" %>Enregistrer une intervention    
            <% end %>
          </div>
        </div>      
      </div>
    </div>

    <div class="row">
      <%# Col Interventions Progress %>
      <div class="col-md-6">
        <div class="list-issues">
          <div class="list-issues__heading unsolved"><%= fa_icon "exclamation-circle" %>En cours (0)</div>
          <div class="list-issues__table" id="renderIssues">

            <div class="intervention-card">
              
            </div>
            
          </div>
        </div>
      </div>
      <%# Col Issues Resolved %>
      <div class="col-md-6">
        <div class="list-issues">
          <div class="list-issues__heading solved"><%= fa_icon "check-square" %>Résolus (0)</div>
          <div class="list-issues__table" id="renderResolvedIssues">
            
          </div>
        </div>        
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Detail</th>
              <th>Entreprise</th>
              <th>User</th>
              <th>Catégorie</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @interventions.each do |intervention| %>
            <tr>
              <td><%= intervention.name %></td>
              <td><%= intervention.detail %></td>
              <td><%= intervention.company.name %></td>
              <td><%= intervention.user.firstname %></td>
              <% if intervention.intervention_category %>
              <td><%= intervention.intervention_category.name %></td>
              <% end %>


              <td><%= link_to 'Show', intervention %></td>
              <td><%= link_to 'Edit', edit_intervention_path(intervention) %></td>
              <td><%= link_to 'Destroy', intervention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <p id="notice"><%= notice %></p>
  <%= link_to 'New Intervention', new_intervention_path %>




    <%# Side bar for adding intervention %>
    <div class="overlay-sidebar"></div>
    <div class="sidebar-adding" id="formIntervention" style="display:block;">
      <div class="sidebar-adding__inner">
        <div class="sidebar-adding__title">Enregistrer une intervention</div>
        <hr>
        <div class="form-lay1">
          <form novalidate>

            <div class="form-lay1__fields d-flex justify-content-between">
              <div class="form-lay1__input full border-box">
                <label>Catégorie intervention</label>
                <select name="intervention[intervention_category_id]" id="intervention_intervention_category_id" required>
                  <% @interventions_categories.each do |category| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="form-lay1__fields d-flex justify-content-between">
              <div class="form-lay1__input full border-box">
                <label>Incident concernée</label>
                <select>
                </select>
                <% @progress_issues.each do |issue| %>
                  <%= issue.type.name %>
                  <%= issue.engine.name %>
                <% end %>
              </div>
            </div>

            <div class="form-lay1__fields d-flex justify-content-between">
              <div class="form-lay1__input full border-box">
                <label>Description intervention</label>
              </div>
            </div>

            <div class="form-lay1__action">
              <input type="submit" value="Ajouter" name="commit">
            </div>

          </form>
        </div>
        <div class="sidebar-adding__close"><%= fa_icon 'close' %></div>
      </div>
    </div>
</section>