<%#-------Call Nav------- %>
<%= render partial: '/layouts/navigation-app' %>

<%#-------Module Index Rooms------- %>
<div class="mod mod-index-rooms">
    <div class="container-fluid">
        <%# Row heading %>
        <div class="row">
            <div class="col-md-12">
                <h1>Salles disponibles</h1>
            </div>
        </div>
        <%# Row Listing %>
        <div class="row">
            <div class="col-md-12">
                <table>
                  <tbody>
                    <% @rooms.each do |room| %>
                      <tr>
                        <td><%= room.name %></td>
                        <td>(machines associées : <%= room.engines.length() %>)</td>
                        <td><%= link_to 'Mettre à jour', edit_room_path(room) %></td>
                        <td><%= link_to 'Supprimer', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
        </div>
        <%# Row features %>
        <div class="row">
            <div class="col-md-12">
                <%= link_to 'Ajouter', room_new_path %>
            </div>
        </div>
    </div>
</div>