<%#-------Module Index Rooms------- %>
<section class="mod mod-rooms-index">
    <div class="container-fluid">

        <%# Message to display when created %>
        <div class="row" id="messageRoom" style="display:none;">
            <div class="col-md-9">
                <div class="success-adding">
                    Salle <span id="nameRoom"></span> ajouté avec succès
                </div>      
            </div>
        </div>

        <%# Row Go Back %>
        <div class="row go-back">
            <div class="col-md-12">
                <%= link_to settings_path, class: 'action-btn__grey' do %>
                <%= fa_icon 'chevron-left' %> Retour
                <% end %>
            </div>
        </div>

        <%# Row heading %>
        <div class="row heading">
            <div class="col-md-9">
                <%# Breadcrumbs %>
                <ul class="breadcrumbs no-styles">
                    <li><a href="<%= settings_path %>">Paramètres</a></li>
                    <li><span><%= fa_icon 'chevron-right' %></span></li>
                    <li><span>Salles</span></li>
                </ul>
                <div class="d-flex align-items-center justify-content-between">
                    <h1>Salles disponibles</h1>
                    <%= link_to room_new_path, class: "action-btn__add", remote: true do %>
                    <%= fa_icon "plus" %>Ajouter une salle      
                    <% end %>
                </div>
            </div>
        </div>

        <%# Row render Tags %>
        <div class="row">
            <div class="col-md-9">
                <%# Simple list for tags %>
                <div class="mod-tags-index__list sp-list-actions">
                    <%# Simple list heading %>
                    <div class="sp-list-actions__heading d-flex">
                        <div class="sp-list-actions__heading-item name">Nom</div>
                        <div class="sp-list-actions__heading-item info">Associations</div>
                    </div>
                    <div id="renderRooms"><%= render @rooms %></div>                 
                </div>
            </div>
        </div>
    </div>

    <%# Side bar for adding room %>
    <div class="overlay-sidebar"></div>
    <div class="sidebar-adding" id="formRoom" style="display:block;">
        <div class="sidebar-adding__inner">
            <div class="sidebar-adding__title">Ajouter une salle</div>
            <hr>
            <div class="form-lay1">
                <form>
                    <div class="form-lay1__fields d-flex justify-content-between">
                        <div class="form-lay1__input full border-box">
                            <label>Nom</label>
                            <input type="text" id="room_name" name="room[name]">
                        </div>
                    </div>
                    <div class="form-lay1__action">
                        <input type="submit" value="Ajouter" name="commit">
                    </div>
                </form>
            </div>
            <div class="sidebar-adding__close"><%= fa_icon 'close' %></div>
        </div>
    </div>
</section>