<div class="nav-app">
	<div class="nav-app__inner">
		<%# User actions %>
		<% if current_user %>
		<div class="nav-app__user-actions">
			<div class="nav-app__current-user">
				<%= fa_icon "user" %>
				<span><%= current_user.firstname %> <%= current_user.lastname %></span>
				<%= link_to edit_user_registration_path(current_user) do %>
				<%= fa_icon "cog" %>
				<% end %>
			</div>
		</div>
		<% end %>
		<%# Bord actions %>
		<div class="nav-app__part-actions">
			<a href="<%= board_path %>" class="nav-app__card-action <% if request.path == '/board' %>active<% end %>">
				<%= fa_icon "trello" %>
				<div class="nav-app__card-action-title">Tableau de bord</div>
				<div class="nav-app__card-action-desc">Accéder aux donnnées compilées et actions principales</div>
			</a>
		</div>
		<%# Engines actions %>
		<div class="nav-app__part-actions">
			<a href="<%= engines_path %>" class="nav-app__card-action <% if request.path.include? '/engines' %>active<% end %>">
				<%= fa_icon "cubes" %>
				<div class="nav-app__card-action-title">Parc d'exploitation</div>
				<div class="nav-app__card-action-desc">Accéder à l'ensemble des machines en exploitation sur la plateforme.</div>
			</a>
		</div>
		<%# Incidents actions %>
		<div class="nav-app__part-actions">
			<a href="<%= issues_path %>" class="nav-app__card-action <% if request.path.include? '/issues' %>active<% end %>">
				<%= fa_icon "exclamation-circle" %>
				<div class="nav-app__card-action-title">Incidents</div>
				<div class="nav-app__card-action-desc">Accéder à la vue d'ensemble des incidents du parc d'exploitation</div>
			</a>
		</div>
		<%# Interventions actions %>
		<div class="nav-app__part-actions">
			<a href="#" class="nav-app__card-action">
				<%= fa_icon "wrench" %>
				<div class="nav-app__card-action-title">Interventions</div>
				<div class="nav-app__card-action-desc">Accéder à la vue d'ensemble des interventions du parc d'exploitation</div>
			</a>
		</div>
		<%# Settings actions %>
		<div class="nav-app__part-actions last">
			<a href="<%= settings_path %>" class="nav-app__card-action <% if request.path.include? '/settings' %>active<% end %>">
				<%= fa_icon "cogs" %>
				<div class="nav-app__card-action-title">Paramètres</div>
				<div class="nav-app__card-action-desc">Modifier les paramètres de la plateforme, du parc matériel, des utilisateurs.</div>
			</a>
		</div>
		<%# Bottom actions %>
		<div class="nav-app__bt-actions">
			<%# Log out button %>
			<span class="nav-app__log-out">
				<%= link_to raw('<span>Déconnexion</span><i class="fas fa-sign-out-alt"></i>'), destroy_user_session_path, method: :delete %>
			</span>		  	
		</div>
	</div>
</div>