<div class="nav-app">
	<div class="nav-app__inner">
		<%# User actions %>
		<div class="nav-app__user-actions">
			<div class="nav-app__current-user">
				<i class="fas fa-user"></i>
				<span><%= current_user.firstname %> <%= current_user.lastname %></span>
				<%= link_to raw('<i class="fas fa-cog"></i>'), user_path(current_user) %>
			</div>
		</div>
		<%# Bord actions %>
		<div class="nav-app__part-actions">
			<a href="<%= engines_path %>" class="nav-app__card-action">
				<i class="fab fa-trello"></i>
				<div class="nav-app__card-action-title">Tableau de bord</div>
				<div class="nav-app__card-action-desc">Accéder aux donnnées compilées et actions principales</div>
			</a>
		</div>
		<%# Engines actions %>
		<div class="nav-app__part-actions">
			<a href="<%= engines_path %>" class="nav-app__card-action">
				<i class="fas fa-cubes"></i>
				<div class="nav-app__card-action-title">Parc d'exploitation</div>
				<div class="nav-app__card-action-desc">Accéder à l'ensemble des machines en exploitation sur la plateforme.</div>
			</a>
		</div>
		<%# Settings actions %>
		<div class="nav-app__part-actions last">
			<a href="<%= settings_path %>" class="nav-app__card-action">
				<i class="fas fa-cogs"></i>
				<div class="nav-app__card-action-title">Paramètres</div>
				<div class="nav-app__card-action-desc">Modifier les paramètres de la plateforme, du parc matériel, des utilisateurs.</div>
			</a>
		</div>
		<%# Bottom actions %>
		<div class="nav-app__bt-actions">
			<%# Log out button %>
			<span class="nav-app__log-out">
				<%= link_to raw('<span>Déconnexion</span><i class="fas fa-sign-out-alt"></i>'), destroy_user_session_path, method: :delete %>
			</span>		  	
		</div>
	</div>
</div>


<!--

<% if user_signed_in? %>
		  <br>
		  <%= link_to "Modifier mon compte", edit_user_registration_path(current_user) %>
		  <br>
		  <%= link_to "Mon compte", user_path(current_user) %>
		  <% end%>
-->