<!DOCTYPE html>
<html>
<head>
  <title>ManaAppV1.2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <% if current_page?(root_path) || current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
  <%= render partial: '/layouts/navigation' %>
  <% else %>
  <%= render partial: '/layouts/navigation-app' %>
  <% end %>

  <%= yield %>  
</body>

</html>

